.grid, .menu {
  margin: -7.5em;
  padding: 3em;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: perspective(2000) rotateX(60deg) rotateZ(45deg);
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1s;
  font-family: -apple-system, "Helvetica Neue", Helvetica;
  font-weight: 600;
  -webkit-user-select: none;
  cursor: default;
}

.grid-item {
  box-shadow: inset 0 0 0 .25em hsla(0,0%,0%,.1);
  background-color: #6f6;
  transform-style: preserve-3d;

  animation: differentiate-grid 1s ease-in-out;
}

@keyframes differentiate-grid {
  from { transform: translateZ(0em); }
}

.grid-item,
.grid-item:after,
.grid-item:before {
  height: 3em;
  width: 3em;
  content: '';
  position: absolute;
}

/* Left */
.grid-item:after {
  background-color: #5e5;
  transform: rotateX(-90deg) scaleY(-200);
  transform-origin: 0 100%;
}
/* Right */
.grid-item:before {
  background-color: #4d4;
  transform: rotateY(90deg) scaleX(-200);
  transform-origin: 100% 0;
}

/* Alternate Colour */
.grid-item:nth-child(even) {
  background-color: #fc6;
}
.grid-item:nth-child(even):after {
  background-color: #eb5;
}
.grid-item:nth-child(even):before {
  background-color: #da4;
}

.char.team-0 {
  background-color: #66f;
}
.char.team-0:after {
    background-color: #55e;
}
.char.team-0:before {
    background-color: #44d;
}

.char.team-1 {
  background-color: #f66;
}
.char.team-1:after {
    background-color: #e55;
}
.char.team-1:before {
    background-color: #d44;
}


.char {
  box-shadow: inset 0 0 0 .25em hsla(0,0%,0%,.1);
  transform-style: preserve-3d;
  transition: .25s;
  animation: differentiate-char 1s ease-in-out;
}

@keyframes differentiate-char {
  from { transform: translateZ(1em); }
}

.char,
.char:after,
.char:before {
  position: absolute;
  height: 1em;
  width: 1em;
  content: '';
}

/* Left */
.char:after {
    transform: rotateX(90deg);
    transform-origin: 0 100%;
}
/* Right */
.char:before {
  transform: rotateY(-90deg);
  transform-origin: 100% 0;
}

.menu {
  text-align: center;
  -webkit-transform-style: preserve-3d;
}

.menu-item {
  position: absolute;
  list-style-type: none; 
  cursor: pointer;
  text-align: center;
  padding: 4px;
  margin: 0;
  background: red;
  width: 3em;
  height: 1em;
}
